.new-user-form {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 850px;
  box-shadow: 0rem -2rem 4rem rgba(0, 0, 0, 0.15);
}

input {
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  height: 23px;
  margin-top: 5px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
}

.new-user-form__name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.new-user-form__age {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.new-user-from__btn {
  margin-top: 25px;
  width: 170px;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 141, 115);
  border: 1px solid rgb(113, 113, 113);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.new-user-from__btn:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(43, 43, 43);
}
